.admin-page {
  h2 {
    &:first-of-type {
      border-bottom: 1px solid grey;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
  }
  .form-group {
    width: 100%;
    padding-top: 1rem;
    .form-control {
      margin-bottom: 1.5rem;
      padding: 1.375rem 0.75rem;
    }
    label {
      top: calc(1rem + 7px);
      &.select-label {
        top: -8px;
        left: 0px;
      }
    }
  }
  .form-row {
    margin-bottom: -1rem;
    label, label.select-label {
      left: 5px;
    }
  }
  .select2 {
    margin-bottom: 1rem;
  }
  .select2-container .select2-selection--single {
    height: 100%;
    padding: 0.5rem;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
  }
  .select2-container {
    box-shadow: 1px 1px 5px 0px rgba(158,158,158,1);
  }
  .edit-form {
    max-width: 40rem;
    select &.col-4 {
      padding: 0;
    }
  }
}

table {
  tr {
    border-bottom: 1px solid lightgrey;
  }
  th, td {
    padding: 0.5rem 0;
  }
  .link-row {
    cursor: pointer;
  }
}

.question-list {
  position: relative;
  &.loading {
    background: rgba(0,0,0,0.3);
  }
  .loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.dataTables_wrapper {
  margin-top: 1rem;
}
