.availability-page {
  color: $font-gray;
  margin-bottom: 4rem;
  hr {
    margin: 2rem 0;
  }
  .legend-item {
    span {
      height: 10px;
      width: 10px;
      border: 1px solid black;
      display: inline-block;
    }
  }
  .legend-available {
    background-color: $lightblue;
  }
  .legend-today {
    background-color: #fcf8e3;
  }
}

.fc {
  h2 {
    color: black;
  }
  button {
    border: none;
    background: none;
    box-shadow: none;
  }
  .fc-day.available {
    background-color: $lightblue;
    span {
      display: inline-block;
      margin-top: 30px;
      margin-left: 5px;
    }
  }
  .alert {
    margin-top: 3vw;
    margin-bottom: 0;
  }
}